body {
	    
	/*background-color: #000000;*/
	margin: 0px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: center; 

}


h1 {
	color: black;
	font-family: 'Lato', sans-serif;
}


h5 {
	color: black;
	font-size: 4rem;
	font-family: 'Lato', sans-serif;
}


#test-h1 {
	color: white;
	font-family: 'Lato', sans-serif;
}

/*.section-title {
	font-size: 3rem;
	padding-bottom: 5rem;
}*/



/*Stars Section*/



#logo-nav-layer {
	position: absolute;
	top: 33%;
/*	height: 50px;*/
	width: 100%;
    /*border: 1px solid red;*/
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
}


canvas {
	z-index: 20;
	/*position: relative;*/

}

#branding-title {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 7rem;
}


#branding-text {
	color: white;
	font-size: 3rem;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 4rem;
}

#branding-button {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin-top: 2rem;
/*	margin-bottom: 5rem;*/
}


#see-work-button {
	margin-top: 19rem;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
	border: none;
	color: white;
}


/*Work Section*/

.work-spacing {
	padding-bottom: 12rem;
}

.work-spacing2 {
	padding-bottom: 3rem;
}

#work-section {
	background-color: white;
	padding-top: 5rem;
}

#work-title {
	font-size: 3rem;
	padding-bottom: 5rem;
}

.project-title {
	font-size: 2.5rem;

}

.project-summary {
	font-size: 2rem;

}

.project-text {
	font-size: 1.5rem;
	color: black;
	font-family: 'Lato', sans-serif;
}
.project-button {
	color: black;
	border: 1px solid black;
	font-family: 'Lato', sans-serif;

}


/*About Section*/


#about-section {
	/*padding-top: 2rem;*/
	/*padding-bottom: 5rem;*/
	background-color: white;
	height: 500px;
}

#about-title {
	font-size: 3rem;
	padding-bottom: 2rem;
}

.about-text {
	font-size: 2rem;
	font-family: 'Lato', sans-serif;
	color: black;
}



/*Contact Section*/


#contact-section {
	background-color: white;
	/*padding-top: 2rem;*/
	padding-bottom: 5rem;
}

#contact-title {
	font-size: 3rem;
	padding-bottom: 2rem;
}

#contact-text {
	font-size: 2rem;

}

#form-fix {
	max-width: 80rem;
}

#email-input {
	background: none;
	border: 1px solid black;
}

#select-input {
	background: none;
	border: 1px solid black;
}

#message-input {
	background: none;
	border: 1px solid black;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

label {
	font-family: 'Lato', sans-serif;
}

#contact-button {
	font-family: 'Lato', sans-serif;
	color: black;
	border: 1px solid black;
}

#contact-submit-button {
	font-family: 'Lato', sans-serif;
	color: black;
	border: 1px solid black;
}


/*Footer Section*/

footer {
	background-color: #202121;
	padding-top: 5rem;
	padding-bottom: 5rem;
	height: 15rem;
}
