body {
	    
	background-color: black;
	margin: 0px;
// 	overflow-y: scroll;
// overflow-x: hidden;
	margin: 0;
	padding: 0;
	text-align: center; 
	// overflow: scroll;
}


h1, h2 {
	color: #2A3A3F;
	font-family: 'Lato', sans-serif;
}


h5 {
	color: #2A3A3F;
	font-size: 4rem;
	font-family: 'Lato', sans-serif;
}


#test-h1 {
	color: white;
	font-family: 'Lato', sans-serif;
}

/*Stars Section*/



#logo-nav-layer {
	position: absolute;
	top: 33%;
/*	height: 50px;*/
	width: 100%;
    /*border: 1px solid red;*/
    z-index: 10;
    background-color: rgba(255, 255, 255, 0);
}


canvas {
	z-index: 20;
	/*position: relative;*/
}

#branding-title {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 7rem;
}


#branding-text {
	color: white;
	font-size: 3.5rem;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

#branding-button {
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin-top: 2rem;
/*	margin-bottom: 5rem;*/
}


#see-work-button {
	margin-top: 19rem;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
	border: none;
	color: white;
}


/*Work Section*/

.work-spacing {
	padding-bottom: 12rem;
}

.work-spacing2 {
	padding-bottom: 3rem;
}

#work-section {
	background-color: white;
	padding-top: 5rem;
	padding-bottom: 5rem;
	margin: 0 auto;
}

#work-title {
	font-size: 3rem;
	padding-bottom: 5rem;
}

.project-title {
	font-size: 2.5rem;
	color: #2A3A3F;

}

.project-summary {
	font-size: 2rem;

}

.project-text {
	font-size: 1.5rem;
	color: #2A3A3F;
	font-family: 'Lato', sans-serif;
}
.project-button {
	color: #2A3A3F;
	border: 1px solid #2A3A3F;
	font-family: 'Lato', sans-serif;

}

.project-link {
	color: #2A3A3F;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}



/*Expertise Section*/


#expertise-section {
	/*padding-top: 2rem;*/
	/*padding-bottom: 5rem;*/
	background-color: white;
	// height: 500px;
	padding-top: 5rem;
}

#about-title {
	font-size: 3rem;
	padding-bottom: 2rem;
}

.about-text {
	font-size: 2rem;
	font-family: 'Lato', sans-serif;
	color: #2A3A3F;
	margin-bottom: 2rem;
}

// .width-fix {
// 	max-width: 90%;
// 	margin: 0 auto;
// }



/*Contact Section*/


#contact-section {
	background-color: white;
	/*padding-top: 2rem;*/
	padding-bottom: 5rem;
}

#contact-title {
	font-size: 3rem;
	padding-bottom: 2rem;
}


#contact-message {
	font-size: 2.3rem;
	font-weight: 400;
}

#contact-message2 {
	font-size: 2.3rem;
	font-weight: 400;
	padding-bottom: 2rem;
}


#contact-text {
	font-size: 2rem;

}

#form-fix {
	max-width: 80rem;
}

#email-input {
	background: none;
	border: 1px solid #2A3A3F;
}

#select-input {
	background: none;
	border: 1px solid #2A3A3F;
}

#message-input {
	background: none;
	border: 1px solid #2A3A3F;
	height: 13rem;
}

::-webkit-input-placeholder {
   color: #2A3A3F;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2A3A3F;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2A3A3F;  
}

:-ms-input-placeholder {  
   color: #2A3A3F;  
}

form {
	max-width: 70%;
	margin: 0 auto;
}

label {
	font-family: 'Lato', sans-serif;
}

#contact-button {
	font-family: 'Lato', sans-serif;
	color: #2A3A3F;
	border: 1px solid #2A3A3F;
}

#contact-submit-button {
	font-family: 'Lato', sans-serif;
	color: #2A3A3F;
	border: 1px solid #2A3A3F;
}


/*Footer Section*/
// #footer-layer {
// 	position: absolute;
// 	top: 420%;
// 	z-index: 15;
// 	width: 100%;
// }

// #footer-branding-text {
// 	color: white;
// 	font-size: 3rem;
// 	font-family: 'Lato', sans-serif;
// 	font-weight: 100;
// 	font-size: 3rem;
// }


// #footer-branding-layer {
// 	position: absolute;
// 	top: 450%;
// 	width: 100%;
//     z-index: 30;
//     background-color: rgba(255, 255, 255, 0);
// }


